name: QuizzingApp CI

on:
  push:
    branches:
      - '**'
  pull_request:
    branches:
      - main
      - master
      - dev

jobs:
  build-and-test:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v3

    - name: Cache pip
      uses: actions/cache@v3
      with:
        path: ~/.cache/pip
        key: ${{ runner.os }}-pip-${{ hashFiles('**/pyproject.toml') }}
        restore-keys: |
          ${{ runner.os }}-pip-

    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: "3.11"

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install build
        pip install matplotlib
        pip install -e .

    - name: Run unittests
      run: |
        python -m unittest discover -s tests -p "test_*.py"

    - name: Archive test results
      if: always()
      uses: actions/upload-artifact@v4
      with:
        name: unittest-results
        path: "**/*.py"

    - name: Build package
      run: |
        python -m build
